<div class="body-0">
  <header>
    <div class="container">
      <div class="img"><img src="https://cdn.nody.ir/files/2021/09/11/nody-%D8%AF%D8%A7%D9%86%D9%84%D9%88%D8%AF-%D8%AA%D8%B5%D9%88%DB%8C%D8%B1-%D8%B2%D9%85%DB%8C%D9%86%D9%87-%D8%AF%D8%AE%D8%AA%D8%B1%D8%A7%D9%86%D9%87-%D8%B9%D8%B1%D9%88%D8%B3%DA%A9%DB%8C-1631343562.jpg" alt=""></div>
    </div>
   </header>
   <section id="body-1">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
         
          <div class="icons"><img src="https://img.icons8.com/small/64/null/mac-os.png"/></div>
          <h2>title</h2>
          <p>This page is made <br>for sample work</p>
         
        </div>
        <div class="col-sm-3">
          <div class="icons"><img src="https://img.icons8.com/small/64/null/mac-os.png"/></div>
          <h2>title</h2>
          <p>This page is made <br> for sample work</p>
        </div>
        <div class="col-sm-3">
          <div class="icons"><img src="https://img.icons8.com/small/64/null/mac-os.png"/></div>
          <h2>title</h2>
          <p>This page is made <br> for sample work</p>
        </div>
        <div class="col-sm-3">
          <div class="icons"><img src="https://img.icons8.com/small/64/null/mac-os.png"/></div>
          <h2>title</h2>
          <p>This page is made <br> for sample work</p>
        </div>
        
      </div>
      <div class="title">
        <h1>مقالات</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas perspiciatis, quasi ratione quod esse officiis odio voluptates aspernatur at maiores eum cumque non ex expedita. Minima maxime dolorem minus illum?</p>
      </div>
      
  
    </div>
   </section>
   <section id="body-2">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          
            <h1>title</h1>
            <img src="https://www.finds.ir/my/post/postimg/finds-15300839318.jpg" alt="">
            <p>This page is made<br> for sample work</p>
          
  
        </div>
           <div class="col-sm-4">
            <h1>title</h1>
            <img src="https://www.finds.ir/my/post/postimg/finds-15300839318.jpg" alt="">
            <p>This page is made<br> for sample work</p>
           </div>
           <div class="col-sm-4">
            <h1>title</h1>
            <img src="https://www.finds.ir/my/post/postimg/finds-15300839318.jpg" alt="">
            <p>This page is made<br> for sample work</p>
           </div>
      </div>
    </div>
  </section>
  <section id="body-3">
    <h2>Steps of web programming</h2>
    <div class="html">
      <ul>
        <li class="html-1"><h4>html:<br></h4><p>htmlزبان نشانه گذاری وب است</p></li>
        <li class="css"><h4>css3:<br></h4><p>cssبرای استایل دهی و رنگ و نقش دهی به صفحات وب است</p></li>
        <li class="javascript"><h4>javascript:<br></h4><p>جاوااسکریپت نوعی زبان سطح بالا، <br>کامپایل درجا و چندالگویی است.<br> جاوااسکریپت نحو آکولادی دارد، نوع‌دهی آن پویا است،<br> نوع شیءگرا‌ی‌اش بر پایه پیش‌نمونه <br>است و دارای توابع کلاس اول می‌باشد.]</p></li>
        <li class="angularjs"><h4>angularjs:<br></h4><p></p> چارچوب نرم‌افزاری تحت وب متن‌باز <br>، ساخت و توسعه داده شده<br> توسط گوگل و جامعهٔ برنامه‌نویسان مستقل که برای حل بسیاری از چالش‌های برنامه‌های<br> تک‌صفحه‌ای ( نرم‌افزار های تحت وب ) است.</li>
      </ul>
    </div>
   
  </section>
  <section id="body-4">
    <table>
      <tr>
        <td><img src="https://www.soorban.com/images/news/2022/05/1653803334_Q2pG2.jpg" alt=""></td>
        <td>
          <h2>title</h2>
          <p>This page is made <br> for sample work</p>
        </td>
        <td>
          <img src="https://www.soorban.com/images/news/2022/05/1653803334_Q2pG2.jpg" alt="">
         
        </td>
      </tr>
      <tr>
        <td><h2>title</h2>
          <p>This page is made <br> for sample work</p></td>
        <td>
          <img src="https://www.soorban.com/images/news/2022/05/1653803334_Q2pG2.jpg" alt="">
          
        </td>
        <td>
          
          <h2>title</h2>
          <p>This page is made <br> for sample work</p>
         
        </td>
      </tr>
      
    </table>
     
     
      <div class="row">
        <div class="col-6">
          <div>
            <form action="" class="mt-3"><h3>فرم ورود</h3>
              name:<br><input type="text" placeholder="name" class="mt-3"><br>
              email:<br><input type="email" placeholder="enter your email" class="mt-3"><br>
              password:<br><input type="password" placeholder="enter password"class="mt-3"><br>
              <input type="submit" class="mt-3">
            </form>
          </div>
        </div>
        <div class="col-6">
          <div class="address"><h3>location:</h3><P>مشهد امام هادی</P></div><br><br>
          <h3>مارا در شبکه هی اجتماعی دنبال کنید</h3>
          <br><br>
          <div><img width="60" height="60" src="https://img.icons8.com/ios-glyphs/60/gmail.png" alt="gmail"/>
            <img width="60" height="60" src="https://img.icons8.com/ios-glyphs/60/facebook-new.png" alt="facebook-new"/>
            <img width="60" height="60" src="https://img.icons8.com/color/60/instagram-new--v1.png" alt="instagram-new--v1"/>
          </div>
          
          
        </div>
      </div>
  </section>
  
</div>